Repository aydabd/glens: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, markdownlint, hadolint

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true

markdownlint:
  name: markdownlint
  entry: markdownlint-cli2 **/*.md
  language: system

hadolint:
  name: hadolint
  entry: bash -c 'CONTAINER_CMD=$(./scripts/detect-container-runtime.sh) && $CONTAINER_CMD run --rm -v "$PWD":/work -w /work hadolint/hadolint:v2.12.0 hadolint -c .hadolint.yaml "$@"' --
  language: system
  pass_filenames: true

fixed reports and archicetures
  .github/copilot-instructions.md
  .github/workflows/openapi-integration-test.yml
  .gitignore
  .markdownlint.jsonc
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  cmd/analyze.go
  cmd/cleanup.go
  cmd/root.go
  docs/CLEANUP.md
  docs/DEVELOPMENT.md
  docs/QUICKSTART.md
  docs/diagrams/architecture.md
  go.mod
  go.sum
  pkg/generator/generator.go
  pkg/github/client.go
  pkg/github/client_test.go
  pkg/reporter/markdown.go
  pkg/reporter/reporter.go
Due: markdownlint

Upgrade GitHub Actions to latest versions
  .github/workflows/openapi-integration-test.yml
Due: none

Add accuracy testing framework with modern AI models, CI workflow, Mistral support, and enhanced mock client (#1)
  .github/workflows/ci.yml
  .gitignore
  .golangci.yml
  ACCURACY_REPORT.md
  README.md
  TESTING_SUMMARY.md
  cmd/analyze.go
  demos/enhanced_mock/report.md
  docs/MODERNIZATION_PLAN.md
  docs/MODERNIZATION_SUMMARY.md
  docs/MODERN_QUICKSTART.md
  docs/PUBLIC_API_TESTING.md
  pkg/ai/anthropic.go
  pkg/ai/enhanced_mock.go
  pkg/ai/google.go
  pkg/ai/interfaces.go
  pkg/ai/mock.go
  pkg/ai/mock_test.go
  pkg/ai/openai.go
  pkg/github/client.go
  pkg/reporter/html_simple.go
  scripts/demo_modern.sh
  scripts/test_accuracy.sh
  test_specs/README.md
  test_specs/sample_api.json
Due: shellcheck, markdownlint

Unified AI agent instructions: single source of truth across Copilot, Claude, OpenAI Codex, and Cursor
  .cursor/rules/project.mdc
  .github/copilot-instructions.md
  .github/instructions/project.instructions.md
  AGENTS.md
Due: markdownlint

Switch markdownlint-cli2 → markdownlint-cli and fix all MD lint violations
  .github/instructions/project.instructions.md
  .github/workflows/ci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  ACCURACY_REPORT.md
  README.md
  TESTING_SUMMARY.md
  demos/enhanced_mock/report.md
  docs/MODERNIZATION_PLAN.md
  docs/MODERNIZATION_SUMMARY.md
  docs/MODERN_QUICKSTART.md
  docs/PUBLIC_API_TESTING.md
  environment.yml
  pkg/ai/enhanced_mock.go
  pkg/ai/google.go
  pkg/ai/mock.go
  pkg/ai/mock_test.go
  scripts/demo_modern.sh
  scripts/test_accuracy.sh
  test_specs/README.md
  test_specs/sample_api.json
Due: shellcheck, markdownlint

Set package ecosystem to 'go' in dependabot config
  .github/dependabot.yml
Due: none

Change package ecosystem from 'go' to 'gomod'
  .github/dependabot.yml
Due: none

feat: per-module isolated release workflows with reusable composite action (#5)
  .github/actions/bump-and-tag/action.yml
  .github/workflows/release-accuracy.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-glens.yml
  .github/workflows/release-module.yml
  .github/workflows/release-pkg-logging.yml
Due: none

Apply suggestions from code review
  .github/instructions/project.instructions.md
Due: markdownlint

Add testing skills as agent instruction files (Copilot CLI SKILL.md format) (#6)
  .github/instructions/project.instructions.md
  .github/instructions/testing-integration.instructions.md
  .github/instructions/testing-patterns.instructions.md
  .github/instructions/testing-strategy.instructions.md
  .github/skills/testing-integration/SKILL.md
  .github/skills/testing-patterns/SKILL.md
  .github/skills/testing-strategy/SKILL.md
Due: markdownlint

fix: release workflow never triggered — bare semver tags not matched
  .github/workflows/release.yml
  cmd/glens/cmd/root.go
  cmd/glens/main.go
  cmd/tools/accuracy/main.go
  cmd/tools/demo/main.go
Due: none

fix: checkout before working-directory run steps in release-module build job (#8)
  .github/workflows/release-module.yml
Due: none

Update cmd/glens/cmd/models.go
  cmd/glens/cmd/models.go
Due: none

Update cmd/glens/internal/ai/ollama.go
  cmd/glens/internal/ai/ollama.go
Due: none

feat: local open-source LLM support via Ollama (Mistral, Llama, Phi, Gemma) (#9)
  .github/workflows/glens.yml
  cmd/glens/cmd/analyze.go
  cmd/glens/cmd/models.go
  cmd/glens/e2e/local_llm_integration_test.go
  cmd/glens/internal/ai/interfaces.go
  cmd/glens/internal/ai/ollama.go
  cmd/glens/internal/ai/ollama_test.go
  configs/config.example.yaml
Due: none

Update docs/saas/PHASE6_OBSERVABILITY.md
  docs/saas/PHASE6_OBSERVABILITY.md
Due: markdownlint

Update docs/saas/PHASE8_TEST_SAFETY.md
  docs/saas/PHASE8_TEST_SAFETY.md
Due: markdownlint

Update docs/saas/PHASE5_AUTH_MULTITENANCY.md
  docs/saas/PHASE5_AUTH_MULTITENANCY.md
Due: markdownlint

SaaS transformation plan: 17 phases with test catalogue, fixture specs, and markdownlint CI
  .github/workflows/docs-lint.yml
  .markdownlint.json
  README.md
  cmd/glens/README.md
  cmd/tools/accuracy/README.md
  cmd/tools/demo/README.md
  docs/DEVELOPMENT.md
  docs/QUICKSTART.md
  docs/saas/PHASE10_TESTING_STRATEGY.md
  docs/saas/PHASE11_EVENT_ARCHITECTURE.md
  docs/saas/PHASE12_API_CONTRACTS.md
  docs/saas/PHASE13_BLACKBOX_E2E_EXAMPLES.md
  docs/saas/PHASE14_LOCAL_EMULATORS.md
  docs/saas/PHASE15_ENV_PARITY.md
  docs/saas/PHASE16_RELEASES_VERSIONING.md
  docs/saas/PHASE17_ISSUE_PROVIDER.md
  docs/saas/PHASE1_BACKEND_API.md
  docs/saas/PHASE2_FRONTEND.md
  docs/saas/PHASE3_GCP_INFRA.md
  docs/saas/PHASE4_CICD.md
  docs/saas/PHASE5_AUTH_MULTITENANCY.md
  docs/saas/PHASE6_OBSERVABILITY.md
  docs/saas/PHASE7_SECURITY_AUTH_PROXY.md
  docs/saas/PHASE8_TEST_SAFETY.md
  docs/saas/PHASE9_EPICS_STORIES.md
  docs/saas/SAAS_PLAN.md
  pkg/logging/README.md
  test_specs/README.md
  test_specs/empty_spec.json
  test_specs/petstore_auth.json
  test_specs/petstore_crud.json
  test_specs/petstore_readonly.json
Due: markdownlint

feat(ci): add Release Please, GPG signing, conventional commit hooks, composite actions, and release plan (#12)
  .github/actions/go-build/action.yml
  .github/actions/sign-assets/action.yml
  .github/instructions/project.instructions.md
  .github/workflows/build-sign-release.yml
  .github/workflows/release-api.yml
  .github/workflows/release-module.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .release-please-manifest.json
  docs/DEVELOPMENT.md
  docs/RELEASE_PLAN.md
  docs/saas/PHASE16_RELEASES_VERSIONING.md
  release-please-config.json
Due: markdownlint

fix(ci): support PAT token for release-please PR creation (#13)
  .github/workflows/release-please.yml
  docs/RELEASE_PLAN.md
Due: markdownlint

ci: exclude Release Please CHANGELOG.md files from markdownlint (#19)
  .github/workflows/docs-lint.yml
  .markdownlintignore
Due: none

docs: step-by-step GCP deployment guide for Glens SaaS (#21)
  README.md
  docs/deploy/DEPLOY_GCP.md
  docs/deploy/STEP1_GCP_PROJECT.md
  docs/deploy/STEP2_GITHUB_OIDC.md
  docs/deploy/STEP3_GITHUB_SECRETS.md
  docs/deploy/STEP4_TERRAFORM.md
  docs/deploy/STEP5_DEPLOY_API.md
  docs/deploy/STEP6_CUSTOM_DOMAIN.md
Due: markdownlint

Update docs/saas/AWS_EKS_DEPLOYMENT_PLAN.md
  docs/saas/AWS_EKS_DEPLOYMENT_PLAN.md
Due: markdownlint

docs: AWS EKS plan with PostgreSQL/MongoDB and RabbitMQ/Kafka (#22)
  docs/saas/AWS_EKS_DEPLOYMENT_PLAN.md
  docs/saas/GCP_IMPLEMENTATION_STATUS.md
  docs/saas/SAAS_PLAN.md
Due: markdownlint

Update Go version in go.mod file
  pkg/logging/go.mod
Due: none

Update Go version in go.mod file
  cmd/api/go.mod
Due: none

Change Go version from 1.25.0 to 1.25
  cmd/glens/go.mod
Due: none

Update Go version in go.mod file
  cmd/tools/accuracy/go.mod
Due: none

Update Go version in go.mod file
  cmd/tools/demo/go.mod
Due: none

Path conditions:
  shellcheck: any of: .*\.(sh|bash)$
  markdownlint: any of: .*\.md$
  hadolint: any of: (^|/)([Dd]ockerfile|[Cc]ontainerfile)([._-][^/]+)?$|.*\.dockerfile$
